
<div class="container">
  <h2 class="text-center">Sign up</h2> <hr>
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <b>
  <div class="field">
    <%#= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", label: "Email ID" %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /><br>
    <%= f.password_field :password, label: "New Password" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %>
    <br />
    <%= f.password_field :password_confirmation, label: "Confirm Password" %>
  </div>

  <div class="actions text-center m-2"> 
    <%= f.submit "Sign up", :class => 'btn btn-primary btn-md' %>
  </div>
<% end %>
</b>
<%= render "devise/shared/links" %>
</div>