<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gradient-warning text-center">
    <div class="jumbotron m-3">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center"> 
          <h1 class="display-3">Welcome to My Blogs</h1>
        </div>
        
        <div class="col-2">
          <%= link_to "Home", root_path,:class => "btn btn-primary btn-sm" %>
          <%= link_to "Create Blog", new_article_path,:class => "btn btn-primary btn-sm" %>
        </div>
      </div>

      <p>By Ranajoy Dutta</p> 
      <hr class="my-2"> 
      <p class="lead">This is a simple Web application to learn working of Ruby on Rails using implementation of basic CRUD Operations</p>  
    </div>
    <%= yield %>
  </body>
</html>
